<div id="blog_post_<%= blog_post.id %>" class="blog_post">
  <h2><%= link_to h(blog_post.name), _blog_post_path(blog_post) %></h2>
  
  <p class="date"><%= blog_post.published_at.to_s(:long) %></p>
  
  <p class="body">
    <%= blog_post.body %>
  </p>
  
  <p class="meta">
    <% unless blog_post.category_id.blank? %>
      Posted in <%= link_to h(blog_post.category_name), _blog_path(blog_post.blog, 'posts_in_category', :category => blog_post.category_name) %>
      <strong>|</strong>
    <% end %>

    <% if blog_post.tags.any? %>
    Tags 
      <span class="tags">
        <%= blog_post.tags.map{|t| link_to(h(t.name), _blog_path(blog_post.blog, 'posts_with_tag', :tag => t.name)) }.join(", ") %>
      </span>
      <strong>|</strong>
    <% end %>
    
    <%= link_to h(pluralize(blog_post.comments_count, "Comment")), "#{_blog_post_path(blog_post)}#comments" %>
  </p>
</div>
