<% page_title @blog_post.name %>
<%= render :partial => "partials/blog_post", :object => @blog_post %>

<style>
  @import url('/stylesheets/cms/form_layout.css');
</style>

<div class="blog_comment_form">
  <% form_for @blog_comment, :url => cms_handler_path(@portlet, "create_comment") do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.error_messages %>
    <div class="fields text_fields">
      <%= f.label :author, 'Name *' %>
      <%= f.text_field :author %>
    </div>
    <div class="fields text_fields clear">
      <%= f.label :email, 'E-mail address' %>
      <%= f.text_field :email %>
    </div>
    <div class="fields text_fields clear">
      <%= f.label :url, 'Web site' %>
      <%= f.text_field :url %>
    </div>
    <div class="fields text_editor_fields clear">
      <%= f.label :body, 'Body *' %>
      <br/>
      <%= f.text_area :body, :size => "50x5", :style => 'height: auto'  %>
    </div>
    <div class="buttons clear">
      <%= submit_tag "Submit comment" %>
    </div>
  <% end %>
</div>
