<% 
	logger.warn "Page title is: #{page_title}"
	page_title "SOMETHING ELSE"
	logger.warn "Now it's #{page_title}"
%>
<% page_title @blog_post.name %>
<%= render :partial => "partials/blog_post", :object => @blog_post %>

<div class="blog_comment_form">
  <%#= form_for @blog_comment, :url => new_comment_path(@portlet) do |f| %>
  <%= form_for @blog_comment, new_comment_params(@portlet) do |f| %>

    <%= f.hidden_field :post_id %>
    <%= f.cms_error_messages %>
    <div class="fields text_fields">
      <%= f.label :author, 'Name *' %>
      <%= f.text_field :author %>
    </div>
    <div class="fields text_fields">
      <%= f.label :email, 'E-mail address' %>
      <%= f.text_field :email %>
    </div>
    <div class="fields text_fields">
      <%= f.label :url, 'Web site' %>
      <%= f.text_field :url %>
    </div>
    <div class="fields text_editor_fields">
      <%= f.label :body, 'Body *' %>
      <br/>
      <%= f.text_area :body, :size => "50x5", :style => 'height: auto'  %>
    </div>
    <div class="buttons clear">
      <%= submit_tag "Submit comment" %>
    </div>
  <% end %>
</div>
